table {
    width: 100%;
    /* border-collapse: collapse; */
  }
  
  th, td {
    padding: 10px;
    /* border: 1px solid #ddd; */
  }
  
  .featured {
    background-color: #FFF2E5; /* Highlight featured rows */
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
  }
  